@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Dev @ViewData["Dev"]</p>

<p> 
    <address>
        <strong>
            developed by:
            <a
                href="https://github.com/mts-the-encoder">
                mts
            </a>.
        </strong>
    </address>
</p>

